.heading {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FCFBFB;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;

    .outer {
        width: 10px;
        height: 10px;
        border: 1px solid black;
        padding: 1px;
        margin-right: 10px;

        .inner {
            width: 6px;
            height: 6px;
            background: black;
        }
    }
}