.content-margined{
  position: absolute;
  top: 60px;
  left: 110px;
  margin: 10px;
  padding: 0;
  width: calc(100% - 130px);
  z-index: 90;
 
  .shop-header{
      padding-bottom: 10px;
      border-bottom: 1px solid #d5d5d5;
  }
  
  .table{
      margin-top: 20px;
      th, td {
          text-align: left;
      }
      tbody > tr:nth-child(even){
          background-color: #f0f0f0;
      }
      & td > button {
          color: #e94057;
          padding: 0.5rem;
          box-sizing: border-box;
          &:hover {
              border: 0.1rem solid #e94057;
          }
          &:focus {
              outline: none;
          }
      }
  }
  .shop-rating {
    border-top: 1px solid #d5d5d5;
    display: flex;
    margin-top: 30px;
      h5 {
          margin: 15px 20px 0 0;
      }
      .star-rating {
        margin: 15px 20px 0 0;
      }
      span {
        margin: 17px 20px 0 0;
        font-size: 16px;
      }

  }
}







